<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{title_favicon}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
   <!-- Script to print the content of a div -->
    <script>
        function printDiv() {
            var divContents = document.getElementById("GFG").innerHTML;
            var a = window.open('', '', 'height=400, width=300');
            a.document.write('<html>');
            a.document.write('<body > <h1>Hasil Pengiriman invoice <br>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{url_for('static',filename='assets/img/profile-img.png')}}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{{ url_for('index') }}">Finance Information</a></h1>
        
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
         
          <li><a href="{{ url_for('clear') }}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{{ url_for('invoice') }}" class="nav-link scrollto"><i class="bi bi-file-earmark-arrow-up"></i> <span>Monthly, CCA, Annual Fee</span></a></li>
          <li><a href="{{ url_for('reminder') }}" class="nav-link scrollto"><i class="bi bi-credit-card"></i> <span>Payment Late Warning</span></a></li>
           <li><a href="{{ url_for('buktibayar') }}" class="nav-link scrollto"><i class="bi bi-receipt"></i> <span>Receipt or Invoice</span></a></li>
          <li><a href="{{ url_for('announcement') }}" class="nav-link scrollto"><i class="bi bi-receipt"></i> <span>Announcement</span></a></li>
          <li><a href="{{ url_for('clear') }}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Template</span></a></li>
          <li><a href="{{ url_for('clear') }}" class="nav-link scrollto"><i class="bi bi-paperclip"></i> <span>Attachment</span></a></li>
          <li><a href="{{ url_for('clear') }}" class="nav-link scrollto"><i class="bi bi-youtube"></i> <span>Tutorial</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
   
  </header><!-- End Header -->



  <main id="main">
    {% block main %}

    {% endblock %}

  <!-- ======= Template Section ======= -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        {{ version }}&copy;Copyright
      </div>
      <div class="credits">
       
        Created with <i class="bi bi-heart-fill text-danger"></i> by <a href="https://github.com/sugeng-riyanto" target="_blank"class="text-white fw-bold">Sugeng Riyanto <i class="bi bi-github></i></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>