{% extends 'base.html' %}

{% block main %}





    <!-- ======= About Section ======= -->
    <section id="upload" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Menu Upload for Monthly, CCA and Annual Fee (Maximum is 100 emails/sending)</h2>
          <p>Upload file berekstensi (.xlsx)</p>
          
          
          <div class="container mb-3">
            
              <form action="{{ url_for('view') }}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <input class="form-control" type="file" name="file"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                
                </div>
                <div class="mb3">
                  <input class="btn btn-success"type="submit" value="Upload and send">
              
                </div>
                </form>
            </div>
            
              <div class="container">
              <br>
              <br>
              <h6>Show .xlsx file in html</h6>
              {{ data_var|safe }}
              
              {% for message in get_flashed_messages() %}
              <h6 style="background-color: powderblue;font-family: verdana;font-weight: bold;">{{ message }}</h6>
              
              {% endfor %}
            </div>
            
            

        

      </div>
      <div class="container mb-3">
            
        <form action="{{ url_for('clear') }}" method="post" enctype="multipart/form-data">
              
          <div class="mb3">
              <a href="{{ url_for('clear') }}" class="btn btn-warning">Clear/Reset</a>
          </div>
        </form>
      </div>
    

    </section><!-- End About Section -->



    {% endblock %}